.panelly-button {
  @apply relative flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-xs font-medium transition-colors focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-60 disabled:grayscale-[.5] [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 duration-300;

  // Button Width
  &.full {
    @apply w-full;
  }

  &.max-content {
    @apply w-fit;
  }

  // Sizes
  &.default {
    @apply h-9 px-4 py-2;
  }

  &.sm {
    @apply h-8 rounded-md px-3 text-xs;
  }

  &.lg {
    @apply h-10 rounded-md px-8;
  }

  &.icon {
    @apply h-9 w-9;
  }

  // Styles
  &.dominant {
    @apply bg-dominant-500 text-white border border-dominant-500 enabled:hover:opacity-85;

    .spinner {
      @apply text-black/80;
    }
  }

  &.dominant-outline {
    @apply bg-transparent text-dominant-600 border border-dominant-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-dominant-600;
    }
  }

  &.dominant-filled {
    @apply bg-dominant-200 text-dominant-700 border border-dominant-200 enabled:hover:opacity-85;

    .spinner {
      @apply text-dominant-700;
    }
  }

  &.dominant-dashed {
    @apply bg-transparent text-dominant-600 border border-dashed border-dominant-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-dominant-600;
    }
  }

  &.dominant-ghost {
    @apply bg-transparent text-dominant-600 border border-transparent enabled:hover:bg-dominant-100;

    .spinner {
      @apply text-dominant-600;
    }
  }

  &.complement {
    @apply bg-complement-500 text-white border border-complement-500 enabled:hover:opacity-85;

    .spinner {
      @apply text-black/80;
    }
  }

  &.complement-outline {
    @apply bg-transparent text-complement-600 border border-complement-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-complement-600;
    }
  }

  &.complement-filled {
    @apply bg-complement-200 text-complement-700 border border-complement-200 enabled:hover:opacity-85;

    .spinner {
      @apply text-complement-700;
    }
  }

  &.complement-dashed {
    @apply bg-transparent text-complement-600 border border-dashed border-complement-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-complement-600;
    }
  }

  &.complement-ghost {
    @apply bg-transparent text-complement-600 border border-transparent enabled:hover:bg-complement-100;

    .spinner {
      @apply text-complement-600;
    }
  }

  &.warning {
    @apply bg-warning-500 text-white border border-warning-500 enabled:hover:opacity-85;

    .spinner {
      @apply text-black/80;
    }
  }

  &.warning-outline {
    @apply bg-transparent text-warning-600 border border-warning-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-warning-600;
    }
  }

  &.warning-filled {
    @apply bg-warning-200 text-warning-700 border border-warning-200 enabled:hover:opacity-85;

    .spinner {
      @apply text-warning-700;
    }
  }

  &.warning-dashed {
    @apply bg-transparent text-warning-600 border border-dashed border-warning-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-warning-600;
    }
  }

  &.warning-ghost {
    @apply bg-transparent text-warning-600 border border-transparent enabled:hover:bg-warning-100;

    .spinner {
      @apply text-warning-600;
    }
  }

  &.information {
    @apply bg-information-500 text-white border border-information-500 enabled:hover:opacity-85;

    .spinner {
      @apply text-black/80;
    }
  }

  &.information-outline {
    @apply bg-transparent text-information-600 border border-information-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-information-600;
    }
  }

  &.information-filled {
    @apply bg-information-200 text-information-700 border border-information-200 enabled:hover:opacity-85;

    .spinner {
      @apply text-information-700;
    }
  }

  &.information-dashed {
    @apply bg-transparent text-information-600 border border-dashed border-information-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-information-600;
    }
  }

  &.information-ghost {
    @apply bg-transparent text-information-600 border border-transparent enabled:hover:bg-information-100;

    .spinner {
      @apply text-information-600;
    }
  }

  &.error {
    @apply bg-error-600 text-white border border-error-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-black/80;
    }
  }

  &.error-outline {
    @apply bg-transparent text-error-600 border border-error-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-error-600;
    }
  }

  &.error-filled {
    @apply bg-error-200 text-error-700 border border-error-200 enabled:hover:opacity-85;

    .spinner {
      @apply text-error-700;
    }
  }

  &.error-dashed {
    @apply bg-transparent text-error-600 border border-dashed border-error-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-error-600;
    }
  }

  &.error-ghost {
    @apply bg-transparent text-error-600 border border-transparent enabled:hover:bg-error-100;

    .spinner {
      @apply text-error-600;
    }
  }

  &.gray {
    @apply bg-gray-600 text-white border border-gray-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-black/80;
    }
  }

  &.gray-outline {
    @apply bg-transparent text-gray-600 border border-gray-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-gray-600;
    }
  }

  &.gray-filled {
    @apply bg-gray-200 text-gray-700 border border-gray-200 enabled:hover:opacity-85;

    .spinner {
      @apply text-gray-700;
    }
  }

  &.gray-dashed {
    @apply bg-transparent text-gray-600 border border-dashed border-gray-600 enabled:hover:opacity-85;

    .spinner {
      @apply text-gray-600;
    }
  }

  &.gray-ghost {
    @apply bg-transparent text-gray-600 border border-transparent enabled:hover:bg-gray-100;

    .spinner {
      @apply text-gray-600;
    }
  }


  &.loading {
    @apply text-transparent;
  }

  .spinner {
    @apply absolute inset-0 w-full h-full flex justify-center items-center;
    animation: spinner-in-animation 1s 1 ease forwards;
  }
}

@keyframes spinner-in-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}