.panelly-input.checkbox {
  @apply flex gap-1 items-start h-9 w-full rounded-md border  bg-transparent pe-3 py-1 text-gray-900 shadow-sm transition-all file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-xs;

  max-width: var(--input-width);
  min-height: var(--input-height);

  &.capsule {
    @apply cursor-pointer py-2 ps-3 h-[unset] items-center;
  }
  &:not(.capsule) {
    border: none !important;
    box-shadow: none !important;
  }

  .label {
    min-width: fit-content;
  }

  .prefixIcon,
  .suffixIcon,
  .label {
    color: rgb(var(--gray-700)) !important;
  }

  button {
    margin-inline-end: 4px;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}
