.panelly-time-picker {
  .swiper-slide {
    color: rgb(var(--gray-900));
    &.swiper-slide-prev,
    &.swiper-slide-next,
    &:not(.swiper-slide-fully-visible) {
      color: rgb(var(--gray-500));
    }
  }
  .selected-overlay {
    @apply absolute top-1/2 left-0 w-full;
    height: 42px;
    background-color: rgba(var(--gray-300), 70%);
    border-radius: 8px;
    transform: translateY(-50%);
  }
}
